.headerBar {
	width: 100%;
	padding: 1rem 0px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
	pointer-events: none;
}

.headerBar * {
	z-index: 101;
}

.headerBarBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 99;
	backdrop-filter: saturate(100%) blur(12px);
	-webkit-backdrop-filter: saturate(100%) blur(12px);
	display: "none";
}

.headerBarFlex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
}

.sectionTitle {
	pointer-events: all;
}

.topLink {
	pointer-events: all;
}

@media (max-width: 640px) {
	.headerBar {
		padding: 1.25rem 0px;
	}
}

@media (prefers-color-scheme: dark) {
}
