.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 0;
	display: flex;
	z-index: 100;
	align-items: center;
	justify-content: center;
}

.navFlex {
	height: auto;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	column-gap: 2rem;
}

.navLinks {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.backHomeLink {
	display: grid;
	grid-auto-flow: column;
	gap: 0.5rem;
	align-items: center;
	transition: color 100ms ease-out;
}

@media (hover: hover) {
	.backHomeLink:hover {
		color: var(--accent);
	}
}

.backHomeLink:active {
	color: var(--accent);
}

/* @media (prefers-color-scheme: dark) {
	@media (hover: hover) {
		.backHomeLink:hover {
			color: var(--accentDark);
		}
	}

	.backHomeLink:active {
		color: var(--accentDark);
	}
} */

.backHomeSvg {
	transform: rotate(-180deg);
	height: 0.75rem;
}

.navLogo {
	height: 1rem;
	display: block;
}

.homeNavLogoSection {
	height: auto;
}

.paginationSection {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	column-gap: 0.5rem;
}

.pageBtn {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-flow: column;
	gap: 0.5rem;
	border-radius: 10000px;
	transition: background-color 100ms ease-out;
}

.pageBtn:active {
	filter: brightness(0.98);
	border: 1px solid var(--accent);
}

/* @media (prefers-color-scheme: dark) {
	.pageBtn:hover {
		width: auto;
		padding: 0 1rem;
		border: 1px solid var(--accentDark);
		transition: border 100ms ease-out;
	}
	.pageBtn:active {
		filter: brightness(0.98);
		border: 1px solid var(--accentDark);
	}
} */

.pageBtnLabel {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pageBtn > p {
	visibility: hidden;
	display: none;
	padding-top: 1px;
}

.pageBtn > svg {
	height: 0.75rem;
}

.prevPageBtn > svg {
	transform: rotate(180deg);
}

@media (hover: hover) {
	.pageBtn:hover {
		width: auto;
		padding: 0 0.875rem;
		/* border: 1px solid var(--accent); */
		background-color: var(--accent);
	}
	.pageBtn:hover > p {
		visibility: visible;
		display: block;
	}
	.nextPageBtn:hover > svg {
		stroke: var(--white);
	}
	.prevPageBtn:hover > svg {
		stroke: var(--white);
	}
}

@media (max-width: 768px) {
	.navLinks {
		gap: 2.5rem;
	}
}

@media (max-width: 640px) {
	.navLinks {
		gap: 1.5rem;
	}
	.navbar {
		padding: 1.5rem 0;
	}
}
