.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 0;
	display: flex;
	z-index: 100;
	align-items: center;
	justify-content: center;
}

.navFlex {
	height: auto;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	column-gap: 2rem;
}

.navLinks {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.backHomeLink {
	display: grid;
	grid-auto-flow: column;
	gap: 0.75rem;
	align-items: center;
	transition: color 100ms ease-out;
}

@media (hover: hover) {
	.backHomeLink:hover {
		color: var(--accentLight);
	}
}

.backHomeLink:active {
	color: var(--accentLight);
}

@media (prefers-color-scheme: dark) {
	@media (hover: hover) {
		.backHomeLink:hover {
			color: var(--accentDark);
		}
	}

	.backHomeLink:active {
		color: var(--accentDark);
	}
}

.backHomeSvg {
	transform: rotate(-135deg);
	height: 0.5rem;
}

.navLogo {
	height: 1rem;
	display: block;
}

.homeNavLogoSection {
	height: auto;
}

.paginationSection {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	column-gap: 0.5rem;
}

.pageBtn {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0 1rem;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-flow: column;
	gap: 1rem;
	border-radius: 0.625rem;
	/* box-shadow: 0 0 0 1px transparent; */
	transition: border 100ms ease-out;
}

@media (hover: hover) {
	.pageBtn:hover {
		width: auto;
		padding: 0 1rem;
		/* box-shadow: 0 0 0 1px var(--accentLight);
		transition: box-shadow 100ms ease-out; */
		border: 1px solid var(--accentLight);
		transition: border 100ms ease-out;
	}
}

.pageBtn:active {
	filter: brightness(0.98);
	border: 1px solid var(--accentLight);
}

@media (prefers-color-scheme: dark) {
	.pageBtn:hover {
		width: auto;
		padding: 0 1rem;
		border: 1px solid var(--accentDark);
		transition: border 100ms ease-out;
	}
	.pageBtn:active {
		filter: brightness(0.98);
		border: 1px solid var(--accentDark);
	}
}

.pageBtnLabel {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pageBtn > p {
	visibility: hidden;
	display: none;
	padding-top: 1px;
}
@media (hover: hover) {
	.pageBtn:hover > p {
		visibility: visible;
		display: block;
	}
}

.prevPageBtn > svg {
	transform: rotate(-135deg);
	height: 0.5rem;
}

.nextPageBtn > svg {
	transform: rotate(45deg);
	height: 0.5rem;
}

@media (max-width: 768px) {
	.navLinks {
		gap: 2.5rem;
	}
}

@media (max-width: 640px) {
	.navLinks {
		gap: 1.5rem;
	}
	.navbar {
		padding: 1.5rem 0;
	}
}
