.textContent {
	display: grid;
	grid-auto-flow: row;
	gap: 1.5rem;
	align-self: start;
}

@media (max-width: 768px) {
	.textContent {
		gap: 1.75rem;
		padding-right: 0;
	}

	.textRow {
		grid-template-columns: none;
		display: grid;
		grid-auto-flow: row;
		gap: 1.75rem;
	}

	.textRow > .textGroup {
		padding-right: 0;
	}

	.contentSection {
		gap: 4rem;
	}

	/* .textGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    padding-right: 0;
  }
  
  .imgGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
  } */
}
