/* Case Study Card - Large  */

.caseStudyCard {
	border-radius: 1rem;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	height: 32rem;
	align-items: center;
	text-decoration: none;
	transition: box-shadow 200ms ease-out, background-color 200ms ease-out;
	box-shadow: 0 0 0 0px transparent;
	overflow: hidden;
}

@media (hover: hover) {
	.caseStudyCard:hover {
		background: var(--gray30);
	}
}

.caseStudyCard:active {
	background: var(--gray30);
}

.cardImgSection {
	min-height: 0;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	margin: 1rem;
	position: relative;
	align-self: stretch;
	justify-content: stretch;
	z-index: 1;
}

.featuredMedia {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.cardInnerSection {
	display: grid;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	padding: 0.25rem;
	justify-self: start;
	align-self: end;
	z-index: 2;
}

.cardInner {
	box-shadow: 4px -4px 16px var(--shadow);
	/* box-shadow: 0px -8px 12px var(--shadow); */
	border-radius: 0.75rem;
	padding: 1.25rem;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 3rem;
	justify-content: start;
	align-items: center;
	backdrop-filter: saturate(100%) blur(16px);
	-webkit-backdrop-filter: saturate(100%) blur(16px);
}
.cardInnerContent {
	display: grid;
	grid-auto-flow: column;
	justify-self: start;
	gap: 0;
}

.cardInner p {
	display: block;
	max-width: 24rem;
}

/* @media (hover: hover) {
	.cardInner p {
		display: none;
		opacity: 0;
	}
	.heightAniAfter {
		display: block !important;
		max-width: 32rem !important;
		opacity: 1 !important;
	}
} */

.cardInnerLink {
	text-decoration: none;
	display: inline-grid;
	grid-auto-flow: column;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 10000px;
	transition: background-color 200ms ease-out;
}

.titleLine {
	display: inline-block;
}

@media (hover: hover) {
	.caseStudyCard:hover .cardInnerLink {
		background-color: var(--black);
	}
	.caseStudyCard:hover .cardInnerLink svg {
		stroke: var(--white);
	}
}

.cardInnerLink svg {
	transition: stroke 200ms ease-out, transform 200ms ease-out;

	height: 0.75rem;
}

.caseStudyCard:active .cardInnerLink svg {
	transform: translateX(4px);
}

/* Case Study Card - Medium  */

/* @media (max-width: 1080px) {
	.caseStudyCard {
		height: 28rem;
	}
} */

/* Case Study Card - Small  */

@media (max-width: 768px) {
	.caseStudyCard {
		grid-template-rows: 24rem auto;
		grid-template-columns: 1fr;
		height: auto;
	}
	.cardImgSection {
		grid-row: 1 / 2;
		margin: 1.5rem;
	}

	.cardInner {
		justify-self: stretch;
		gap: 1rem;
		grid-template-columns: 1fr auto;
	}

	.cardInner p {
		display: none;
	}

	.cardInnerLinkText {
		display: block;
	}

	@media (hover: hover) {
	}
}

/* @media (prefers-color-scheme: dark) {
	.caseStudyCard:hover {
		box-shadow: 0 0 0px 2px var(--gray80);
	}

	.caseStudyCard:active {
		background: var(--gray80);
	}

	.caseStudyCard:active .cardInnerLink {
		border: 1px solid var(--accentDark);
	}
	@media (hover: hover) {
		.caseStudyCard:hover .cardInnerLink {
			transition: border 150ms ease;
			border: 1px solid var(--accentDark);
		}
	}
} */
