
/* Case Study Card - Large  */

.caseStudyCard{
    border-radius: 0.75rem;
    padding: 0.25rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    height: 32rem;
    align-items: center;
    text-decoration: none;
    transition: box-shadow 100ms ease-out;
    box-shadow: inset 0 0 0 2px transparent;
}

.caseStudyCard:hover{
    box-shadow: inset 0 0 0 2px var(--accentLight);
    transition: box-shadow 100ms ease-out;
}




.caseStudyCard:active{
    filter: brightness(0.98);
}

.cardImgSection{
    margin: 2rem;
    position: relative;
    align-self: stretch;
    justify-content: stretch;
    transition: margin 100ms ease-out;
}

/* .caseStudyCard:active .cardImgSection{
    margin: 2.25rem;
} */



.cardInnerSection{
    align-self: end;
}

.cardInner{
    border-radius: 0.5rem;
    padding: 1.25rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: end;
}

.cardInnerLink{
    text-decoration: none;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 0.75rem;
    justify-content: start;
    align-items: center;
}

.cardInnerLink svg{
    height: 16px;
}


/* Case Study Card - Medium  */

@media (max-width: 1080px){

}



/* Case Study Card - Small  */

@media (max-width: 768px){
    .caseStudyCard{
        height: 26rem;
    }


    .cardImgSection{
        margin: 1.5rem;
    }

    /* .caseStudyCard:active .cardImgSection{
        margin: 1.75rem;
    } */
    

    
    
    
    .cardInner{
        padding: 1rem;
    }

    .cardInnerLink{
        padding-bottom: 0.25rem;
    }

    .cardInnerLink p{
        display: none;
        visibility: hidden;
    }
}

@media (prefers-color-scheme: dark){
    .caseStudyCard:hover{
        box-shadow: inset 0 0 0 2px var(--accentDark);
        transition: box-shadow 100ms ease-out;

    }
}


@media (hover: none){
    .caseStudyCard:hover{
        box-shadow: inherit;
    }
}