.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.navFlex{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.navLogo{
    height: 1.75rem;
    display: block;
}

.homeNavLogoSection{
    height: auto;
}


@media (max-width: 768px){
    .navLinks{
        gap: 2.5rem;
    }
    
}

@media (max-width: 640px){
    .navbar{
        padding: 1.75rem 0;
    }
    
}