/** FOOTER - LARGE **/

.footer {
	border-top: 1px solid var(--gray10);
	padding: 4rem 0;
}

.infoSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 1rem;
	justify-items: start;
	align-items: start;
}

.contactSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 1rem;
	justify-items: start;
	align-items: start;
}

.sitemapSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 1rem;
	justify-items: start;
	align-items: start;
}

.linksListSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.25rem;
	justify-items: start;
	align-items: start;
}

.sitemapSection a {
	display: inline-block;
}

.logoSection {
	padding-top: 4rem;
	display: grid;
	align-items: center;
	justify-content: center;
}

@media (prefers-color-scheme: dark) {
	.footer {
		border-top: 1px solid var(--gray80);
	}
}
