/** FOOTER - LARGE **/

.footer {
	border-top: 1px solid var(--gray10);
	padding: 3rem 0;
}

.contentSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 3rem;
}

.navigationSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.5rem;
	justify-items: start;
	align-items: start;
}

.caseStudiesSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.5rem;
	justify-items: start;
	align-items: start;
}
.contactSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.5rem;
	justify-items: start;
	align-items: start;
}

.linksListSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.5rem;
	justify-items: start;
	align-items: start;
}

.sitemapSection a {
	display: inline-block;
}

.infoSection {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	justify-items: start;
	align-items: start;
	gap: 1rem;
}

.logoSection {
	padding-top: 4rem;
	display: grid;
	align-items: center;
	justify-content: center;
}

/* @media (prefers-color-scheme: dark) {
	.footer {
		border-top: 1px solid var(--gray80);
	}
} */
