/* Grid Container  */

.gridContainer {
	width: 100%;
	padding: 0 3rem;
	max-width: 64rem;
	margin: 0 auto;
	display: grid;
	align-items: start;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
}

/* Grid Container - Medium */

@media (max-width: 1080px) {
	.gridContainer {
		padding: 0 3rem;
	}
}

/* Grid Container - Small */

@media (max-width: 768px) {
	.gridContainer {
		padding: 0 3rem;
	}
}

/* Grid Container - XSmall */

@media (max-width: 640px) {
	.gridContainer {
		padding: 0 1.5rem;
	}
}

.offsetContent {
	margin-top: -2.5rem;
}

.offsetContent {
	margin-top: -2.5rem;
}

@media (max-width: 768px) {
	.offsetContent {
		margin-top: 0;
	}
}

/* GRID CHILD */

/* Col Span */
.colSpan1 {
	grid-column: span 1;
}

.colSpan2 {
	grid-column: span 2;
}

.colSpan3 {
	grid-column: span 3;
}

.colSpan4 {
	grid-column: span 4;
}

.colSpan5 {
	grid-column: span 5;
}

.colSpan6 {
	grid-column: span 6;
}

.colSpan7 {
	grid-column: span 7;
}

.colSpan8 {
	grid-column: span 8;
}

.colSpan9 {
	grid-column: span 9;
}

.colSpan10 {
	grid-column: span 10;
}

.colSpan11 {
	grid-column: span 11;
}

.colSpan12 {
	grid-column: span 12;
}

/* Col Start */

.colStart1 {
	grid-column-start: 1;
}

.colStart2 {
	grid-column-start: 2;
}

.colStart3 {
	grid-column-start: 3;
}

.colStart4 {
	grid-column-start: 4;
}

.colStart5 {
	grid-column-start: 5;
}

.colStart6 {
	grid-column-start: 6;
}

.colStart7 {
	grid-column-start: 7;
}

.colStart8 {
	grid-column-start: 8;
}

.colStart9 {
	grid-column-start: 9;
}

.colStart10 {
	grid-column-start: 10;
}

.colStart11 {
	grid-column-start: 11;
}

.colStart12 {
	grid-column-start: 12;
}
