

.showcase{
    padding: 12rem 0 48rem 0;
}

.showcaseContent{
    display: grid;
    align-items: end;
}


.showcaseMain{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.showcaseMeta{
    display: grid;
    grid-auto-flow: row;
    justify-items: end;
    align-items: end;
    gap: 0.25rem;
}

.showcaseDate{
    text-align: right;
}

.showcaseTags{
    text-align: right;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    justify-items: end;
}


@media(max-width: 768px){

    .showcaseContent{
        row-gap: 2rem;
    }

    .showcaseMeta{
        justify-items: start;
        align-items: start;
        gap: 0.5rem;
    }

    .showcaseTags{
        justify-self: stretch;
        text-align: left;
        gap: 1rem;
        row-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }

    
  }


@media(max-width: 640px){

    .showcase{
        padding: 10rem 0 5rem 0;
    }
  }