/**** RESET ****/

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Neue-Montreal", -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**** COLORS ****/

/* :root {
	--white: rgba(255, 255, 255, 1);
	--gray10: rgba(232, 237, 242, 1);
	--gray20: rgba(205, 212, 218, 1);
	--gray30: rgba(175, 184, 192, 1);
	--gray40: rgba(150, 159, 171, 1);
	--gray50: rgba(123, 133, 147, 1);
	--gray60: rgba(95, 105, 119, 1);
	--gray70: rgba(57, 64, 76, 1);
	--gray80: rgb(38, 44, 54);
	--gray90: rgba(28, 32, 39, 1);
	--black: rgba(21, 24, 30, 1);
	--transparentWhite: rgba(255, 255, 255, 0.8);
	--transparentGray90: rgba(28, 32, 39, 0.8);
	--accent: rgba(10, 107, 235, 1);
	--accentDark: rgba(247, 209, 95, 1);
	--shadow: rgba(0, 0, 0, 0.05);
} */

/* :root {
	--white: rgba(255, 255, 255, 1);
	--transparentWhite: rgba(255, 255, 255, 0.8);
	--black: rgba(25, 25, 25, 1);
	--gray10: rgba(245, 245, 245, 1);
	--gray20: rgba(210, 210, 210, 1);
	--gray30: rgba(180, 180, 180, 1);
	--gray40: rgba(160, 160, 160, 1);
	--gray50: rgba(130, 130, 130, 1);
	--gray60: rgba(100, 100, 100, 1);
	--gray70: rgba(80, 80, 80, 1);
	--gray80: rgba(50, 50, 50, 1);
	--gray90: rgba(35, 35, 35, 1);
	--transparentGray90: rgba(35, 35, 35, 0.8);
	--accent: rgba(10, 107, 235, 1);
	--accentDark: rgba(247, 209, 95, 1);
	--shadow: rgba(0, 0, 0, 0.05);
} */

/* :root {
	--white: rgba(255, 255, 255, 1);
	--gray20: rgba(244, 244, 245, 1);
	--gray30: rgba(237, 237, 238, 1);
	--gray60: rgba(126, 126, 129, 1);
	
	--black: rgba(0, 0, 0, 1);
	--transparentWhite: rgba(255, 255, 255, 0.8);
	--accent: rgba(81, 81, 240, 1);
	--accentSoft: rgba(235, 235, 255, 1);
	
	--accentDark: rgba(247, 209, 95, 1);
	--shadow: rgba(0, 0, 0, 0.05);
} */

:root {
	--white: rgba(246, 249, 249, 1);
	--gray20: rgba(233, 241, 241, 1);
	--gray30: rgba(220, 229, 229, 1);
	--gray60: rgba(101, 108, 108, 1);

	--black: rgba(30, 36, 36, 1);
	--transparentWhite: rgba(246, 249, 249, 0.8);
	--accent: rgba(0, 178, 178, 1);
	--accentSoft: rgba(235, 235, 255, 1);

	--accentDark: rgba(247, 209, 95, 1);
	--shadow: rgba(0, 0, 0, 0.05);
}

body {
	background-color: var(--white);
}

.textMain {
	color: var(--black);
}

.textSoft {
	color: var(--gray60);
}

.textWhite {
	color: var(--white);
}

.bgMain {
	background-color: var(--white);
}

.bgDeep {
	background-color: var(--gray20);
}

.bgSoft {
	background-color: var(--gray20);
}

.borderMain {
	border: 1px solid var(--black);
}

.borderDeep {
	border: 1px solid var(--gray20);
}

.borderSoft {
	border: 1px solid var(--gray20);
}

.textAccent {
	color: var(--accent);
}

.bgAccent {
	background-color: var(--accent);
}

.bgAccentSoft {
	background-color: var(--accentSoft);
}

.borderAccent {
	border: 1px solid var(--accent);
}

.bgMainTransparent {
	background-color: var(--transparentWhite);
}

.fillMain {
	fill: var(--black);
}

.fillDeep {
	fill: var(--gray20);
}

.fillAccent {
	fill: var(--accent);
}

.fillWhite {
	fill: var(--white);
}

.strokeMain {
	stroke: var(--black);
}

.strokeDeep {
	stroke: var(--gray20);
}

.strokeAccent {
	stroke: var(--accent);
}

.strokeWhite {
	stroke: var(--white);
}

@media (hover: hover) {
	.link:hover {
		text-decoration: underline;
	}
}

.link:active {
	filter: brightness(0.5);
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: var(--gray90);
	}

	.textMain {
		color: var(--white);
	}

	.textSoft {
		color: var(--gray30);
	}

	.bgMain {
		background-color: var(--gray90);
	}

	.bgDeep {
		background-color: var(--black);
	}

	.bgSoft {
		background-color: var(--gray70);
	}

	.borderMain {
		border: 1px solid var(--gray90);
	}

	.borderDeep {
		border: 1px solid var(--black);
	}

	.borderSoft {
		border: 1px solid var(--gray70);
	}

	.textAccent {
		color: var(--accentDark);
	}

	.bgAccent {
		background-color: var(--accentDark);
	}

	.borderAccent {
		border: 1px solid var(--accentDark);
	}

	.bgMainTransparent {
		background-color: var(--transparentGray90);
	}

	.fillMain {
		fill: var(--white);
	}

	.fillSoft {
		fill: var(--gray60);
	}

	.fillAccent {
		fill: var(--accentDark);
	}

	@media (hover: hover) {
		.link:hover {
			color: var(--accentDark);
		}
	}
} */

/**** GLOBAL COMPONENTS ****/

/* Container  */

.container {
	width: 100%;
	padding: 0 4rem;
	max-width: 64rem;
	margin: 0 auto;
	display: block;
}

/* Container - Medium */

@media (max-width: 1080px) {
	.container {
		padding: 0 2rem;
	}
}

/* Container - Small */

@media (max-width: 768px) {
	.container {
		padding: 0 3rem;
	}
}

/* Container - XSmall */

@media (max-width: 640px) {
	.container {
		padding: 0 1.5rem;
	}
}

/* Grid  */

.grid {
	width: 100%;
	display: grid;
	align-items: start;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
}

/* Grid - Columns - Large */

.col-2 {
	grid-column: span 2;
}

.col-4 {
	grid-column: span 4;
}

.col-5 {
	grid-column: span 5;
}

.col-6 {
	grid-column: span 6;
}

.col-7 {
	grid-column: span 7;
}

.col-8 {
	grid-column: span 8;
}
.col-10 {
	grid-column: span 10;
}

.col-12 {
	grid-column: span 12;
}

.col-2-center {
	grid-column: 6 / span 2;
}

.col-4-center {
	grid-column: 5 / span 4;
}
.col-6-center {
	grid-column: 4 / span 6;
}

.col-8-center {
	grid-column: 3 / span 8;
}
.col-10-center {
	grid-column: 2 / span 10;
}

.col-12-center {
	grid-column: 1 / span 12;
}

.col-6--6 {
	grid-column: 5 / span 8;
}

.col-6--3 {
	grid-column: 6 / span 3;
}

.col-9--3 {
	grid-column: 9 / span 3;
}

.col-7-right {
	grid-column: 6 / span 7;
}

.col-8-right {
	grid-column: 5 / span 8;
}

/* Grid - Columns - Medium */
@media (max-width: 1080px) {
	.grid {
		gap: 1rem;
	}

	.col-5 {
		grid-column: span 6;
	}

	.col-6 {
		grid-column: span 6;
	}

	.col-7 {
		grid-column: span 6;
	}

	.col-5--7 {
		grid-column: 5 / span 8;
	}

	.col-6--6 {
		grid-column: 4 / span 9;
	}

	.col-6--3 {
		grid-column: 5 / span 4;
	}

	.col-9--3 {
		grid-column: 9 / span 4;
	}
}

/* Grid - Columns - Small */

@media (max-width: 768px) {
	.col-2 {
		grid-column: span 12;
	}

	.col-4 {
		grid-column: span 12;
	}

	.col-5 {
		grid-column: span 12;
	}

	.col-6 {
		grid-column: span 12;
	}

	.col-7 {
		grid-column: span 12;
	}

	.col-8 {
		grid-column: span 12;
	}
	.col-10 {
		grid-column: span 12;
	}

	.col-12 {
		grid-column: span 12;
	}

	.col-2-center {
		grid-column: span 12;
	}

	.col-4-center {
		grid-column: span 12;
	}
	.col-6-center {
		grid-column: span 12;
	}

	.col-8-center {
		grid-column: span 12;
	}
	.col-10-center {
		grid-column: span 12;
	}

	.col-12-center {
		grid-column: span 12;
	}

	.col-5--7 {
		grid-column: span 12;
	}

	.col-6--6 {
		grid-column: span 12;
	}

	.col-5--4 {
		grid-column: span 6;
	}

	.col-9--3 {
		grid-column: span 6;
	}

	.col-7-right {
		grid-column: span 12;
	}

	.col-8-right {
		grid-column: span 12;
	}
}

/* Grid - Columns - XSmall */

@media (max-width: 640px) {
	.col-5--4 {
		grid-column: span 12;
	}

	.col-9--3 {
		grid-column: span 12;
	}
}

/* Layout Components */

/* Layout Components - Large */

.sectionContent {
	margin-top: -2.5rem;
}

.sectionDividerWrapper {
	padding: 6rem 0 0 0;
	width: 100%;
}

.sectionDivider {
	height: 1px;
	width: 100%;
}

.contentSection {
	align-items: start;
	display: grid;
	grid-auto-flow: row;
	row-gap: 6rem;
	align-self: start;
}

.textSection {
	display: grid;
	grid-auto-flow: row;
	row-gap: 1.5rem;
	align-self: start;
}

.textGroup {
	display: grid;
	grid-auto-flow: row;
	row-gap: 0.25rem;
	align-self: start;
	justify-content: start;
}

.textRow {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.textRow > .textGroup {
	padding-right: 2rem;
}

.imgGroup {
	display: grid;
	grid-auto-flow: row;
	gap: 1.5rem;
}

/* Layout Components - Medium */

/* Layout Components - Small */

@media (max-width: 768px) {
	.sectionContent {
		margin-top: 0;
	}

	.textSection {
		gap: 1.75rem;
		padding-right: 0;
	}

	.textRow {
		grid-template-columns: none;
		display: grid;
		grid-auto-flow: row;
		gap: 1.75rem;
	}

	.textRow > .textGroup {
		padding-right: 0;
	}

	.contentSection {
		gap: 4rem;
	}

	/* .textGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    padding-right: 0;
  }
  
  .imgGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
  } */
}
