/**** RESET ****/


html{
  scroll-behavior: smooth;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'neue_montrealregular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** COLORS ****/

:root{
  --white: #FFFFFF;
  --transparentWhite: rgba(255,255,255,0.8);
  --black: #000000;
  --gray10: #EFEFF1;
  --gray20: #DCDCDF;
  --gray30: #A6A6AB;
  --gray40: #75757A;
  --gray80: #18181B;
  --gray90: #0E0E10;
  --transparentGray90: rgba(14,14,16,0.9);
  --accentLight: #2B6DE9;
  --accentDark: #408CE7;
}


.mainText{
  color: var(--gray90);
}

.link{
  color: var(--gray90);
}

.link:hover{
  color: var(--accentLight);
}

.link:active{
  filter: brightness(0.9);
}


.softText{
  color: var(--gray40);
}

.mainBackground{
  background-color: var(--white);
}

.deepBackground{
  background-color: var(--gray10);
}

.softBackground{
  background-color: var(--gray20);
}

.accentText{
  color: var(--accentLight);
}

.accentBackground{
  background-color: var(--accentLight);
}

.transparentOverlay{
  background-color: var(--transparentWhite);
}

.accentFill{
  fill: var(--accentLight);
}

@media (prefers-color-scheme: dark){

  body {
    background-color: var(--gray90);
  }
  

  .mainText{
    color: var(--white);
  }

  .link{
    color: var(--white);
  }

  .link:hover{
    color: var(--accentDark);
  }

  .link{
    filter: brightness(1.1);
  }
  
  .softText{
    color: var(--gray30);
  }
  
  .mainBackground{
    background-color: var(--gray90);
  }
  
  .deepBackground{
    background-color: var(--black);
  }
  
  .softBackground{
    background-color: var(--gray80);
  }
  
  .accentText{
    color: var(--accentDark);
  }
  
  .accentBackground{
    background-color: var(--accentDark);
  }
  
  .accentFill{
    fill: var(--accentDark);
  }

  .transparentOverlay{
    background-color: var(--transparentGray90);
  }

}




/**** TEXT ****/

.textHeadline1,
.textHeadline2,
.textTitle,
.textBody1,
.textBody2,
.textLink{
  font-family: 'neue_montrealregular',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.textHeadline1Medium,
.textHeadline2Medium,
.textTitleMedium,
.textBody1Medium,
.textBody2Medium,
.textLinkMedium{
  font-family: 'neue_montrealmedium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
}


/* .textHeadline1{
  font-size: 3.1875rem;
  line-height: 4rem;
}

.textHeadline2{
  font-size: 2.625rem;
  line-height: 3.25rem;  
}

.textTitle{
  font-size: 1.375rem;
  line-height: 1.75rem;
  
}

.textSubtitle{
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'neue_montrealbold';
  font-weight: normal;
  font-style: normal;
}

.textBody1{
  font-size: 1rem;
  line-height: 1.5rem;
}

.textBody2{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.textLink{
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: underline;
} */

.textHeadline1,
.textHeadline1Medium{
  font-size: 2.875rem;
  line-height: 3.75rem;
  letter-spacing: -0.01em;
}

.textHeadline2,
.textHeadline2Medium{
  font-size: 2.25rem;
  line-height: 3rem;  
  letter-spacing: -0.01em;
}

.textTitle,
.textTitleMedium{
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.textSubtitle,
.textSubtitle1Medium{
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-family: 'neue_montrealbold';
  font-weight: normal;
  font-style: normal;
}

.textBody1,
.textBody1Medium{
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.textBody2,
.textBody2Medium{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.textLink,
.textLinkMedium{
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: underline;
}

/* Text Styles - Medium */

@media (max-width: 1080px){
  .textHeadline1,
  .textHeadline1Medium{
    font-size: 2.25rem;
    line-height: 3rem;  
  }
  
  .textHeadline2,
  .textHeadline2Medium{
    font-size: 1.75rem;
    line-height: 2.125rem;  
  }
  
  
}

/* Text Styles - Small */

@media (max-width: 768px){
  .textHeadline1,
  .textHeadline1Medium{
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  /* .textTitle{
    font-size: 1.25rem;
    line-height: 1.75rem;
  } */
}

/* Text Styles - XSmall */

@media (max-width: 640px){
  /* .textHeadline1{
    font-size: 1.8125rem;
    line-height: 2.25rem;
  } */
}



/**** GLOBAL COMPONENTS ****/

/* Container  */

.largeContainer{
  width: 100%;
  border: solid 1rem var(--gray10);
  margin: 0 auto;
  display: block;
}

.container{
  width: 100%;
  padding: 0 5rem;
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}

/* Container - Medium */

@media (max-width: 1080px){
  .container{
      padding: 0 4rem;
  }
}

/* Container - Small */

@media (max-width: 768px){
  .container{
      padding: 0 4rem;
  }
}


/* Container - XSmall */

@media (max-width: 640px){
  .container{
      padding: 0 1.5rem;
  }
}



/* Grid  */

.grid{
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}


/* Grid - Columns - Large */

.col-2{
  grid-column: span 2;
}

.col-4{
  grid-column: span 4;
}

.col-5{
  grid-column: span 5;   
}

.col-6{
  grid-column: span 6;   
}

.col-7{
  grid-column: span 7;   
}

.col-8{
  grid-column: span 8;
}
.col-10{
  grid-column: span 10;
}

.col-12{
  grid-column: span 12;
}

.col-2-center{
  grid-column: 6 / span 2;
}

.col-4-center{
  grid-column: 5 / span 4;
}
.col-6-center{
  grid-column: 4 / span 6;
}

.col-8-center{
  grid-column: 3 / span 8;
}
.col-10-center{
  grid-column: 2 / span 10;
}

.col-12-center{
  grid-column: 1 / span 12;
}

.col-5--7{
  grid-column: 5 / span 7;
}

.col-5--4{
  grid-column: 5 / span 4;
}

.col-9--3{
  grid-column: 9 / span 3;
}


.col-7-right{
  grid-column: 6 / span 7;
}

.col-8-right{
  grid-column: 5 / span 8;
}


/* Grid - Columns - Medium */
@media (max-width: 1080px){

  .grid{
      gap: 1rem;
  }
  
  .col-6{
    grid-column: span 12;
  }

  .col-5--7{
    grid-column: 4 / span 8;
  }
  
  .col-5--4{
    grid-column: 4 / span 5;
  }
  
  .col-9--3{
    grid-column: 9 / span 3;
  }

}

  /* Grid - Columns - Small */

@media (max-width: 768px){
  .col-2{
      grid-column: span 12;
  }
  
  .col-4{
      grid-column: span 12;
  }
  
  .col-5{
      grid-column: span 12;   
  }
  
  .col-6{
      grid-column: span 12;   
  }
  
  .col-7{
      grid-column: span 12;   
  }
  
  .col-8{
      grid-column: span 12;
  }
  .col-10{
      grid-column: span 12;
  }
  
  .col-12{
      grid-column: span 12;
  }
  
  .col-2-center{
      grid-column: span 12;
  }
  
  .col-4-center{
      grid-column: span 12;
  }
  .col-6-center{
      grid-column: span 12;
  }
  
  .col-8-center{
      grid-column: span 12;
  }
  .col-10-center{
      grid-column: span 12;
  }
  
  .col-12-center{
      grid-column: span 12;
  }

  .col-5--7{
    grid-column: span 12;
  }
  
  .col-5--4{
    grid-column: span 6;
  }
  
  .col-9--3{
    grid-column: span 6;
  }
  
  
  .col-7-right{
      grid-column: span 12;
  }
  
  .col-8-right{
      grid-column: span 12;
  }
}


/* Grid - Columns - XSmall */

@media (max-width: 640px){

  .col-5--4{
    grid-column: span 12;
  }
  
  .col-9--3{
    grid-column: span 12;
  }

}

/* Layout Components */

/* Layout Components - Large */

.sectionContent{
  margin-top: -2.75rem;
}

.contentGroup{
  align-items: start;
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
}


.textGroup{
  display: grid;
  grid-auto-flow: row;
  gap: 0.75rem;
  padding-right: 2rem;
}

.imgGroup{
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
}


/* Layout Components - Medium */

/* Layout Components - Small */

@media (max-width: 768px){

  .sectionContent{
    margin-top: 1rem;
  }


  .textGroup{
    padding-right: 0;
  }

  .contentGroup{
    gap: 2.75rem;
  }
  
  
  
  /* .textGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    padding-right: 0;
  }
  
  .imgGroup{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
  } */
}