
/**** SHOWCASE

/*  Showcase - Large */


.showcase{
  padding: 13rem 0 7rem 0;
}

.showcaseHeadline{
  display: block;
}

.showcaseHealineName{
  display: inline;
}


.showcaseTextGroup{

}


.showcaseTextLine{
  display: block;
}

/*  Showcase - Medium */

/*  Showcase - Small */

@media(max-width: 768px){
    

  .showcase{
      padding: 10rem 0 4rem 0;
  }
  
}

/*  Showcase - XSmall */

@media(max-width: 640px){

  .showcase{
      padding: 9rem 0 4rem 0;
  }
  
  .showcaseHealineName{
      display: block;
  }

  .showcaseTextGroup{
      display: block;
  }
  

  .showcaseTextLine{
      display: inline;
  }
  
}


.work{
  height: auto;
  padding-bottom: 5rem;
}


.about{
  padding-bottom: 6rem;
}
