
/**** SHOWCASE

/*  Showcase - Large */


.showcase{
  padding: 13rem 0 7rem 0;
}

.showcaseMainHeadline{
  display: block;
}

.showcaseHeadline{
  display: block;
}

.showcaseBr{
  display: none;
  visibility: hidden;
}

.showcaseHealineName{
  display: inline;
}


.showcaseTextGroup{

}


.showcaseTextLine{
  display: block;
}

/*  Showcase - Medium */

@media(max-width: 1080px){

  

  
}


/*  Showcase - Small */

@media(max-width: 768px){
    

  .showcase{
      padding: 11rem 0 5rem 0;
  }
  
  .showcaseMainHeadline{
    display: inline;
  }
  .showcaseHeadline{
    display: inline;
  }
  

  .showcaseBr{
    display: block;
    visibility: visible;
  }


}

/*  Showcase - XSmall */

@media(max-width: 640px){

  .showcase{
      padding: 9.5rem 0 5rem 0;
  }
  
  .showcaseHealineName{
      display: block;
  }

  .showcaseTextGroup{
      display: block;
  }
  

  .showcaseTextLine{
      display: inline;
  }
  
}


.work{
  height: auto;
  padding-bottom: 6rem;
}

/*  Showcase - Small */

@media(max-width: 768px){

  .work{
     padding-bottom: 5rem;
  }
  
}


.about{
  padding-bottom: 6rem;
}

.aboutImg{
  justify-self: stretch;
  height: auto;
  border-radius: 0.5rem;
}

@media(max-width: 768px){

  .about{
     padding-bottom: 5rem;
  }
  
}

.contact{
  padding-bottom: 6rem;
}

/* .aboutContent{
  margin-top: -3rem;
}

.contactContent{
  margin-top: -3rem;
} */