/**** SHOWCASE ****/

/*  Showcase - Large */

.showcase {
	padding: 12rem 0 4rem 0;
}

/*  Showcase - Medium */

@media (max-width: 1080px) {
	.showcase {
		padding: 11rem 0 5rem 0;
	}
}

/*  Showcase - Small */

@media (max-width: 768px) {
	.showcase {
		padding: 9rem 0 3rem 0;
	}
}

/*  Showcase - XSmall */

@media (max-width: 640px) {
	.showcase {
		padding: 9rem 0 3rem 0;
	}
}

/**** SHOWCASE ****/

.aboutImg {
	justify-self: stretch;
	height: auto;
	border-radius: 0.625rem;
	max-width: 12rem;
}
