/**** TYPOGRAPHY ****/

body {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Neue-Montreal";
	src: url("fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
		url("fonts/neuemontreal-regular-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Neue-Montreal";
	src: url("fonts/neuemontreal-medium-webfont.woff2") format("woff2"),
		url("fonts/neuemontreal-medium-webfont.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Neue-Montreal";
	src: url("fonts/neuemontreal-bold-webfont.woff2") format("woff2"),
		url("fonts/neuemontreal-bold-webfont.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "PP-Neue-Montreal";
	src: url("fonts/ppneuemontreal-book-webfont.woff2") format("woff2"),
		url("fonts/ppneuemontreal-book-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PP-Neue-Montreal";
	src: url("fonts/ppneuemontreal-medium-webfont.woff2") format("woff2"),
		url("fonts/ppneuemontreal-medium-webfont.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "PP-Neue-Montreal";
	src: url("fonts/ppneuemontreal-bold-webfont.woff2") format("woff2"),
		url("fonts/ppneuemontreal-bold-webfont.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

/* TYPE SCALE - VARIABLES */

:root {
	--text40: 2.5rem/3rem "PP-Neue-Montreal", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text36: 2.25rem/2.75rem "PP-Neue-Montreal", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text32: 2rem/2.5rem "PP-Neue-Montreal", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text30: 1.875rem/2.25rem "PP-Neue-Montreal", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text24: 1.5rem/1.875rem "PP-Neue-Montreal", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text22: 1.375rem/2rem "PP-Neue-Montreal", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text20: 1.25rem/1.75rem "PP-Neue-Montreal", --apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text18: 1.125rem/1.625rem "PP-Neue-Montreal", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text16: 1rem/1.5rem "PP-Neue-Montreal", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--text14: 0.875rem/1.25rem "PP-Neue-Montreal", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* TEXT STYLES */

.textH1 {
	font: var(--text32);
}

.textH2 {
	font: var(--text24);
}

.textH3 {
	font: var(--text20);
	letter-spacing: 0.01em;
}

.textP1 {
	font: var(--text16);
	letter-spacing: 0.015em;
}

.textP2 {
	font: var(--text14);
	letter-spacing: 0.025em;
}

/* WEIGHTS */

.textRegular {
	font-weight: 400;
}

.textMedium {
	font-weight: 500;
}

.textBold {
	font-weight: 600;
}

/* DECORATION */

.link {
	text-decoration: none;
	display: inline-block;
	font-weight: 500;
}

/* Text Styles - Medium */

@media (max-width: 1080px) {
	.textRegular {
		font-weight: 400;
	}

	.textMedium {
		font-weight: 500;
	}

	.textBold {
		font-weight: 600;
	}
}

/* Text Styles - Small */

@media (max-width: 768px) {
	.textH1 {
		font: var(--text30);
	}
	.textRegular {
		font-weight: 400;
	}

	.textMedium {
		font-weight: 500;
	}

	.textBold {
		font-weight: 600;
	}
}

/* Text Styles - XSmall */

@media (max-width: 640px) {
	.textRegular {
		font-weight: 400;
	}

	.textMedium {
		font-weight: 500;
	}

	.textBold {
		font-weight: 600;
	}
}
